html {
    background-color: #333;
}
body {
    background-color: white;
    position: relative;
}
body, html {
    margin: 0;
    padding: 0;
}

.aramain {
    background-color: MINTCREAM;
    padding: 20px;
}

.site-header {
    padding:25px;
    border:1px solid #000;
    background-color: DARKSLATEGRAY;
    top: 0;
    overflow:auto;
}

.site-footer a, p {
    color: black;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 17px;
    padding: 10px;
}

.site-footer {
  padding: 25px;
  background-color: #333;
  text-align: center;
  bottom: 0;
  overflow:hidden;
}


.site-footer a {
    color: WHITESMOKE;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 17px;
    padding: 10px;
}


.aramain {
    background-color: MINTCREAM;
    padding: 20px;
}

.metext {
    color: #000;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    width:80%;
    margin-left: 15px;
}


.header {
    text-align: left;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 35px;
    margin-left: 15px;
}
/*li {
    position: fixed;
    width: 100%;
}*/

.navbar ul {
    margin-top: 0;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #333;
}

.site-title {
    display: block;
    padding-top: 1em;
    padding-left: 60px;
    font-size: 32px;
    overflow: auto;
    font-family: Georgia;
    font-style:oblique;
    color: WHITESMOKE;
}

.navbar a {
    color: WHITESMOKE;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 17px;
    padding: 14px;
    border-radius: 11px;
}

.aboutimage {
    width:200px;
    overflow:hidden;
    margin-left: 20px;
    margin-bottom: 20px;
}

.codingimage {
    width: 100%;
    height: 500px;
    opacity: 0.9;
}

.selected a {
    background-color: #000;
}

.button {
    background-color: #333;
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 15px;
}

ul {
    list-style-type: none;
    padding: 10px;
    background-color: #333;
}

li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    position: relative;
    background-color: #333;
}

li a:hover {
    background: #000;

}

li a {
    text-decoration: none;
}

li ul {
    position: absolute;
    background-color: #000;
    background-color: rgba(0,0,0,0.7);
    top: 48px;
    z-index: 100;
    display: none;
    border-radius: 20px;

}

li ul li {
    display: block;
}

.calendar-container {

    width:714px;
    height:100%;
    border:solid 2px black;
    background:white;
    margin-left:auto;
    margin-right:auto;
    font-size: 16px;
    margin-bottom: 20px;

}

.calendar {
    width:100%;
    vertical-align: top;
    display: inline-block;
    height:100%;
    background:white;
    font-size: 16px;
}

.dayname {
    width:100px;
    color: #333;
    display: inline-block;
    height: 70px;
    background:transparent;
    border: solid 1px black;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.calday {
    width:100px;
    color:black;
    display: inline-block;
    height: 70px;
    background:white;
    border: solid 1px black;
    text-align: center;
    font-size: 20px;


}
.daypassed {
    width:100px;
    display: inline-block;
    height: 70px;;
    border: solid 1px black;
    text-align: center;
    font-size: 20px;
    color: darkgrey;
}



.prev {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float:left;
    margin-left: 300px;
    margin-top: -700px;
}

.next {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float:right;
    font-size: 20px;
    margin-right: 300px;
    margin-top: -700px;
}

.imgmonth {
    width: 100%;
    height: 200px;
}

.yearmonth {
    text-align: center;
    font-size: 60px
}


.loginform {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 20px;
}



@keyframes scale2  {

  10%  { transform:  scale(1.2); }
  20%  { transform:  scale(1); }
}

/* Admin style*/
/* Admin header*/
.admin-header {
    box-shadow: 0 1px 0 rgba(24, 24, 24, 0.1);
    box-sizing: border-box;
    color: #333;
    font-size: 15px;
    margin: 0 0 1em;
    padding-top: 10px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

/* Admin sidebar*/
.admin-sidebar {
    background-color: whitesmoke;
    box-shadow: 0 1px 0 rgba(24, 24, 24, 0.1);
    box-sizing: border-box;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;

    text-decoration: none;
    width: 20%;
}

.admin-sidebar ul {
    background-color: #333;
}

.admin-sidebar li {
    background-color: #333;
}
/* Admin navbarr*/
.admin-navbar a:hover {
    box-shadow: green 0 0 10px;
    background-color: black;
}
/* Session navbar */
.admin-navbar a {
    display: inline-block;
    margin-bottom: 0;
    font-size: 20px;
    text-decoration: none;
      border-radius: 0.3em;
      color: #85add3;
      height: 70px;
      width:100%;


}
.admin-navbar .current {
background-color: whitesmoke;
border:none;
border-style: solid;
border-width: 6.5px 3px 1px 0;
border-color: transparent #333 transparent transparent;

}
.admin-navbar li{
    /*background-color: rgba(0, 0, 0, 0.2);*/
list-style-type: none;
  color: #fff;
  width: 100%;
  border-top:solid 1px black;
}


/* Admin container*/
.admin-container {
    width:100%;
    background: whitesmoke;
    min-height:1000px;
    overflow: hidden;


}
/* Admin fonts*/
.admin-header h1 {
    color: #333;

}

.admin-container h3 {

}



/*'''''''''''''''''''''''''''''''''''''''*/
/* EDIT STYLE */
/*'''''''''''''''''''''''''''''''''''''''*/
.edit-container {
    width:80%;
    background: #333;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-color: #333;
}
.edit-container label{
    color: #333;

}
.edit-container input{
    background: #333;

}
/* Admin add user*/
.edit-div {
    background-color: #333;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 0.55em;
    box-sizing: border-box;
    color: whitesmoke;
    font-size: 15px;
    margin: 1em 0 1em;
    padding: 10px;
    text-decoration: none;
    width: 60%;

}

.user-div {
    margin-left: auto;
    border-radius: 0.55em;
    font-size: 15px;
    width:40%;
    margin: 1em 0 1em;
    background-color: whitesmoke;
}

.delete-div {
    width:50%;
    background: whitesmoke;
}
.password-div {
    width:50%;
    background: whitesmoke;
}


/*Table */

.edit-container table {
    border-radius: 0.25em;
    border-collapse: collapse;
    width: 90%;
}

.edit-container th {
    background-color: whitesmoke;
    border-radius: 0.25em;
}

.edit-container tr {
    border-radius: 0.25em;
    color: whitesmoke;


    border: 2px solid #ccc;
    box-sizing: border-box;

}
.edit-container td {

    border-radius: 0.25em;
    background-color: whitesmoke;
    color: black;;

      padding: 1px;

      height: 70px;
          max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}



/*'''''''''''''''''''''''''''''''''''''''*/
/* USERS STYLE */
/*'''''''''''''''''''''''''''''''''''''''*/

.general-container {
    background: #333 none repeat scroll 0 0;
    margin-bottom: 100px;
    text-align: center;
    width: 78%;
    margin-left:auto;
    margin-right:auto;
}


.general-container table {
    border-radius: 0.25em;
    border-collapse: collapse;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}


.general-container th {
    background-color: whitesmoke;
    border-radius: 0.25em;
    color: #333;
    height: 70px;
}

.general-container tr {
    border-radius: 0.25em;
    color: #333;
    border: 2px solid black;
    box-sizing: border-box;

}
.general-container table tr:nth-child(odd) td{
    background-color: whitesmoke;
    border-top: 1px solid #ccc;
    color:#333;
    border-left:solid 1px black;
}
.general-container table tr:nth-child(even) td{
    background-color: whitesmoke;
    color:#333;
    border-top: 1px solid black;
    border-left:solid 1px black;

}
.general-container td {
    border-radius: 0.25em;
    background-color: whitesmoke;
    color: black;
    max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 300px;
      height:100px;
}

section {
    background: rgb(53,56,64);
    color: white;
}
section table, td, th {
    border: 1px solid black;
    background:white;
    color: black;
}

section table {
    border-collapse: collapse;
    width: 100%;
}

section td {
    height: 50px;
    vertical-align: bottom;
}

.submitBox {
    background: whitesmoke;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align:center;
}
textarea {
    resize: none;
    box-sizing : border-box;
    background-color: white;
    border: 1px solid rgb(114, 114, 114);
    border-radius: .25em;
    margin: 0 0 1em;
    color: #036;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    width: 100%;


}
.profile {
    border: 2px solid #ccc;
     box-sizing: border-box;
     min-height: 200px;
     margin: 0 1% 10px;
     padding: 10px;
     background:grey;
}

.info {
    box-sizing : border-box;
    background-color: white;
    border: 1px solid rgb(114, 114, 114);
    border-radius: .25em;
    font-size: 15px;
    padding: 10px;
    width: 50%;
    margin-left: auto;
     margin-right:auto;
     color: black;
}

.success {
    box-sizing : border-box;
    box-shadow: 0 1px 0 rgba(24, 24, 24, 0.1);
    background-color: green;
    border: 1px solid rgb(114, 114, 114);
    border-radius: .25em;
    margin: 0 0 1em;

    color: white;

     font-size: 15px;
     padding: 10px;
     text-decoration: none;
     width: 100%;
}

.warning {
    box-sizing : border-box;
    background-color: red;
    border: 1px solid rgb(114, 114, 114);
    border-radius: .25em;
    margin: 0 0 1em;

    color: white;

     font-size: 15px;
     padding: 10px;
     text-decoration: none;
     width: 100%;
}
input {
    box-sizing : border-box;
    background-color: #333;
    border: 1px solid rgb(114, 114, 114);
    border-radius: .25em;
    margin: 0 0 1em;
    color: whitesmoke;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
     width: 50%;
}

button {
    box-sizing : border-box;
    background-color: rgb(215, 215, 215);
    border: 1px solid rgb(114, 114, 114);
    border-radius: .25em;
    margin: 0 0 1em;

    color: #036;

     font-size: 15px;
     padding: 10px;
     text-decoration: none;
     width: 100%;
}

select {
    box-sizing : border-box;
    background-color: white;
    border: 1px solid rgb(114, 114, 114);
    border-radius: .25em;
    margin: 0 0 1em;

    color: #036;

     font-size: 15px;
     padding: 10px;
     text-decoration: none;
     width: 100%;
}


label {

  padding: .3em 1em;
  color: black;
  display: block;



  margin: 0 0 1em;
}


.inactiveLink {
   pointer-events: none;
   cursor: default;
}
